.outerContainear{
/* border: 2px solid black; */
/* display: flex; */
/* align-items: center; */
text-align: center;
}
.innearContainear{
/* border: 2px solid red; */
margin-top: 14px;
}
.innearContainear2{
/* border: 2px solid green; */
}
.div1{
    background-color: black;
    padding: 1%;
    /* height: 15%; */
    margin-left: 17%;
    margin-right: 17%;
    color: white;
    border-radius: 2px;
}
.div2{
    /* background-color: black; */
    /* height: 15%; */
    margin-left: 17%;
    margin-right: 17%;
    /* color: white; */
    border-radius: 2px;
    text-align: start;
}
.btn{
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 0.5rem;
    margin-bottom: 1%;
}