


<!-- <div> -->
    <!-- <form [formGroup]="login_form" (ngSubmit)="onSubmit()">
        <div>
          <label>
            email: 
        </label>
            <input type="text" [(ngModel)]="email"  formControlName="email" placeholder="Email">
            
        </div>
        <div>
          <label> 
            Password: </label>
            <input type="password" [(ngModel)]="password" formControlName="password" placeholder="password">
            
        </div>
        <button type="submit">Send</button>
      </form> -->
<!-- </div> -->



<img class="wave" src="../../assets/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../assets/bg.svg">
		</div>
		<div  class="login-content">
			<form [formGroup]="login_form" (ngSubmit)="onSubmit()">
				<img src="../../assets/avatar.svg">
				<h2 class="title">Welcome to ONLINE TEST</h2>
           		<div class="input-div one">
           		   <div class="i">
                    <i class="bi bi-person-fill"></i>
           		   </div>
           		   <div class="div">
                    <input type="text" [(ngModel)]="email"  formControlName="email" placeholder="Email">
           		   		
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
                    <i class="bi bi-lock-fill"></i>
           		   </div>
           		   <div class="div">
                    <input type="password" [(ngModel)]="password" formControlName="password" placeholder="password">
            	   </div>
            	</div>
            	<button class="btn" type="submit">Send</button>
            </form>
        </div>
    </div>
